body {
  display: block;
  padding-top: 50px;
  box-sizing: border-box;
  font-family: system-ui;
  font-weight: 600;
  background: rgb(231, 231, 238);
  margin:auto auto;
  width: 45%;
  height: 100%;
}

html {
  background: url("https://i.stack.imgur.com/QgTND.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button:hover {
  cursor: pointer;
}

.submit-form {
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  max-width: 300px;
  margin: auto auto;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: none;
}

h1 {
  text-align: center;
  font-size: 35;
  color: solid black;
  border-bottom: 2px darkslategray;
}

h2 {
  text-align: center;
  color: solid black;
}

.results-display {
  display: block;
}

a {
  align-content: center;
  margin: auto auto;
}

p {
  text-align: center;
  max-width: 35%;
  display: block;
  margin: auto auto;
  color: solid black;
  padding: 20px;
}

h3 {
  text-align: center;
  color: solid black;
}

a, img {
  display: block;
  width: 50%;
  margin: auto auto;
}

.list-buttons {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 410px;
}

.events-button {
  display: inline-block;
  min-height: 50px;
  min-width: 50px;
  margin-bottom: 2em;
  font-size: 2em;
  background-color:blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 60%;
  max-width: 200px;
  margin: auto auto;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: none;
}

.stories-button {
  display: inline-block;
  min-height: 50px;
  min-width: 50px;
  margin-bottom: 2em;
  font-size: 2em;
  background-color:blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 60%;
  max-width: 200px;
  margin: auto auto;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: none;
}

.list:hover {
  background-color: gold;
  color:green;
  cursor: pointer;
}

.events-list {
  display: block;
  margin: auto auto;
  width: 60%;
  padding: 10px
}

.stories-list {
  display: block;
  margin: auto auto;
  width: 60%;
  padding: 10px;
}

@media only screen and (min-width: 320px) {
  body {
    width: 100%;
    margin: auto auto;
  }
  .events-button {
    width: 140px;
  }
  .stories-button {
    width: 140px;
  }
  p {
    max-width: 100%;
  }
}

@media only screen and (min-width: 360px) {
  body {
    width: 100%;
    margin: auto auto;
  }
  .list-buttons{
    width: 360px;
  }
  .events-button {
    width: 160px;
    margin: auto auto;
  }
  .stories-button {
    width: 160px;
    margin: auto auto;
  }
  .js-search-results {
    width: 100%;
  }
  p {
    width: 100%;
  }
}

@media only screen and (min-width: 650px) {
  body {
    width: 71%;
  }
  p {
    width: 90%;
  }

  a, img {
    width: 65%;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    width: 52%;
  }
  p {
    max-width: 50%;
  }

  a, img {
    width: 65%;
  }
}